@import "tailwindcss";

/* Configuração básica */
body {
  background-color: #141414;
  color: white;
  margin: 0;
  font-family: sans-serif;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
  overflow-x: hidden;
  /* Evita rolagem horizontal indesejada */
}

/* Esconder barra de rolagem (Chrome/Safari/Opera) */
body::-webkit-scrollbar {
  display: none;
}

/* Garantir que todos os elementos também escondam se necessário */
*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

/* Esconder barra de rolagem (Chrome/Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Esconder barra de rolagem (Firefox/IE) */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Animações Customizadas */
@keyframes zoomIn {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.animate-zoomIn {
  animation: zoomIn 10s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
}